@CHARSET "UTF-8";
#container {
	position:relative;
	width: 100%;
	height: 720px;
	overflow: hidden;
	white-space: nowrap;
}

#container ul#contain {
	list-style: none;
	margin: 0;
	padding: 0;
}

#container ul li {
	position: absolute;
	width: 100%;
	height: 720px;
}

#container ul li img {
	width: 100%;
	height: 720px;
}

.contents {
	width: 80%;
	margin: 20px auto;
}



.contents .tb {
	width: 100%;
	border: 1px solid black;
	text-align: center;
	font-size: 50px;
	border-spacing: 0;
	border-collapse: collapse;
}

.contents .tb .week {
	height: 80px;
}

/* Table_style */
.tb_basic{position:relative;border-top:1px solid #b9bdc0;border-bottom:1px solid #b9bdc0;background-color:#fff;}
.tb_basic th, .tb_basic td{padding:8px 5px;text-align:center !important;}
.tb_basic thead th:first-child{border-left:none;}
.tb_basic thead .tb_firstL:first-child, .tb_basic tbody .tb_firstL:first-child {border-left: 1px solid #c4c4c4;}
.tb_basic thead th{background-color:#f4f4f4;color:#2c2e2f;border-bottom:1px solid #b9bdc0;}
.tb_basic tbody th, .tb_basic tbody td{border-top:1px solid #c4c4c4;}
.tb_basic thead .tb_basicLeft:first-child, .tb_basic tbody .tb_basicLeft:first-child{border-left:1px solid #c4c4c4;}
.tb_basic thead .tb_basicBLeft:first-child, .tb_basic tbody .tb_basicBLeft:first-child{border-left:2px solid #8f8f8f;}
.tb_basic tbody th:first-child, .tb_basic tbody td:first-child{border-left:none;}
.tb_basic thead th, .tb_basic tbody td{border-left:1px solid #c4c4c4;}

/* Table_style02 */
.tb_basic02{position:relative;border-top:1px solid #b9bdc0;border-bottom:1px solid #b9bdc0;background-color:#fff}
.tb_basic02 th,
.tb_basic02 td{padding:8px 5px;text-align:center !important;}
.tb_basic02 thead th:first-child{border-left:none;}
.tb_basic02 thead .tb_firstL:first-child, .tb_basic02 tbody .tb_firstL:first-child {border-left: 1px solid #d8d8d8;}
.tb_basic02 thead th{background-color:#f4f4f4;color:#2c2e2f;border-bottom:1px solid #d8d8d8;}
.tb_basic02 tbody th, .tb_basic02 tbody td{border-top:1px solid #d8d8d8;color:#979898;}
.tb_basic02 tbody th:first-child, .tb_basic02 tbody td:first-child{border-left:none;}
.tb_basic02.height tbody td{height:35px;}

/* Table_style03 */
.tb_basic03{position:relative;border-top:1px solid #b9bdc0;border-bottom:1px solid #b9bdc0;background-color:#fff;}
.tb_basic03 th,
.tb_basic03 td{padding:8px 5px;text-align:center !important;}
.tb_basic03 thead th:first-child{border-left:none;}
.tb_basic03 thead .tb_firstL:first-child, .tb_basic03 tbody .tb_firstL:first-child {border-left: 1px solid #d8d8d8;}
.tb_basic03 thead th{color:#2c2e2f;border-bottom:1px solid #d8d8d8;}
.tb_basic03 tbody th, .tb_basic03 tbody td{border-top:1px solid #d8d8d8;color:#979898;}
.tb_basic03 tbody th:first-child, .tb_basic03 tbody td:first-child{border-left:none;}
.tb_basic03.height tbody td{height:35px;}

/* Table_white */
.tb_basic_w{position:relative;border-top:1px solid #b9bdc0;border-bottom:1px solid #b9bdc0;background-color:#fff;}
.tb_basic_w th,
.tb_basic_w td{padding:8px 5px;text-align:center !important;}
.tb_basic_w thead th:first-child{border-left:none;}
.tb_basic_w thead .tb_firstL:first-child, .tb_basic_w tbody .tb_firstL:first-child {border-left: 1px solid #d8d8d8;}
.tb_basic_w thead th{color:#2c2e2f;border-bottom:1px solid #d8d8d8;}
.tb_basic_w tbody th, .tb_basic_w tbody td{color:#979898;}
.tb_basic_w tbody th, .tb_basic_w tbody td{border-top:1px solid #d8d8d8;}
.tb_basic_w tbody th:first-child, .tb_basic_w tbody td:first-child{border-left:none;}
.tb_basic_w thead th, .tb_basic_w tbody td{border-left:1px solid #d8d8d8;}
.tb_basic_w.height tbody td{height:35px;}

/* Table_stroped */
.tb_basic_striped{position:relative;border-top:1px solid #b9bdc0;border-bottom:1px solid #b9bdc0;background-color:#fff;}
.tb_basic_striped th,
.tb_basic_striped td{padding:8px 5px;text-align:center !important;}
.tb_basic_striped thead th:first-child{border-left:none;}
.tb_basic_striped thead .tb_firstL:first-child, .tb_basic_striped tbody .tb_firstL:first-child {border-left: 1px solid #d8d8d8;}
.tb_basic_striped thead th{color:#2c2e2f;border-bottom:1px solid #d8d8d8;}
.tb_basic_striped tbody th, .tb_basic_striped tbody td{border-top:1px solid #d8d8d8;}
.tb_basic_striped tbody tr:nth-child(odd){background-color:#f6f6f6;}
.tb_basic_striped tbody th:first-child, .tb_basic_striped tbody td:first-child{border-left:none;}
.tb_basic_striped.height tbody td{height:35px;}

/* Table_row_style */
.tb_basic_row{position:relative;border-top:1px solid #b9bdc0;border-bottom:1px solid #b9bdc0;background-color:#fff;}
.tb_basic_row th, .tb_basic_row td{padding:8px 5px;text-align:center;}
.tb_basic_row th, .tb_basic_row td{border-left:1px solid #c4c4c4;border-top:1px solid #c4c4c4;}
.tb_basic_row tbody th:first-child, .tb_basic_row tbody td:first-child{border-left:none;}
.tb_basic_row th{background-color:#f4f4f4;}
.tb_basic_row td{text-align:left;}

/* Table tr:hover, Table border */
.tb_border{border:1px solid #c4c4c4;}
.tb_hover > tbody > tr:hover{background-color:#dfdfdf;color:#333;}

.tb_basic thead .week th:first-child{color:red}
.tb_basic thead .week th:last-child{color:blue}

.qna > .container {width:47%;}
.qna > .container  .list-group li{border-left:none; border-right:none; width:90px; text-align:center}

.qna_created > .container {width:47%;}
.qna .header .gnb a:hover {text-decoration: none;}
.tb_basic thead .week th:last-child{color:blue}
#container {
	position: relative;
	width: 100%;
	height: 720px;
	overflow: hidden;
	white-space: nowrap;
	border: 1px solid #000;
}

#container ul#contain {
	list-style: none;
	margin: 0;
	padding: 0;
}

#container ul li {
	position: absolute;
	width: 100%;
	height: 720px;
}

#container ul li img {
	width: 100%;
	height: 720px;
}

/* Table_style */
.tb_basic {
	position: relative;
	border-top: 1px solid #b9bdc0;
	border-bottom: 1px solid #b9bdc0;
	background-color: #fff;
}

.tb_basic th, .tb_basic td {
	padding: 8px 5px;
	text-align: center !important;
}

.tb_basic thead th:first-child {
	border-left: none;
}

.tb_basic thead .tb_firstL:first-child, .tb_basic tbody .tb_firstL:first-child
	{
	border-left: 1px solid #c4c4c4;
}

.tb_basic thead th {
	background-color: #f4f4f4;
	color: #2c2e2f;
	border-bottom: 1px solid #b9bdc0;
}

.tb_basic tbody th, .tb_basic tbody td {
	border-top: 1px solid #c4c4c4;
}

.tb_basic thead .tb_basicLeft:first-child, .tb_basic tbody .tb_basicLeft:first-child
	{
	border-left: 1px solid #c4c4c4;
}

.tb_basic thead .tb_basicBLeft:first-child, .tb_basic tbody .tb_basicBLeft:first-child
	{
	border-left: 2px solid #8f8f8f;
}

.tb_basic tbody th:first-child, .tb_basic tbody td:first-child {
	border-left: none;
}

.tb_basic thead th, .tb_basic tbody td {
	border-left: 1px solid #c4c4c4;
}

/* Table_style02 */
.tb_basic02 {
	position: relative;
	border-top: 1px solid #b9bdc0;
	border-bottom: 1px solid #b9bdc0;
	background-color: #fff
}

.tb_basic02 th, .tb_basic02 td {
	padding: 8px 5px;
	text-align: center !important;
}

.tb_basic02 thead th:first-child {
	border-left: none;
}

.tb_basic02 thead .tb_firstL:first-child, .tb_basic02 tbody .tb_firstL:first-child
	{
	border-left: 1px solid #d8d8d8;
}

.tb_basic02 thead th {
	background-color: #f4f4f4;
	color: #2c2e2f;
	border-bottom: 1px solid #d8d8d8;
}

.tb_basic02 tbody th, .tb_basic02 tbody td {
	border-top: 1px solid #d8d8d8;
	color: #979898;
}

.tb_basic02 tbody th:first-child, .tb_basic02 tbody td:first-child {
	border-left: none;
}

.tb_basic02.height tbody td {
	height: 35px;
}

/* Table_style03 */
.tb_basic03 {
	position: relative;
	border-top: 1px solid #b9bdc0;
	border-bottom: 1px solid #b9bdc0;
	background-color: #fff;
}

.tb_basic03 th, .tb_basic03 td {
	padding: 8px 5px;
	text-align: center !important;
}

.tb_basic03 thead th:first-child {
	border-left: none;
}

.tb_basic03 thead .tb_firstL:first-child, .tb_basic03 tbody .tb_firstL:first-child
	{
	border-left: 1px solid #d8d8d8;
}

.tb_basic03 thead th {
	color: #2c2e2f;
	border-bottom: 1px solid #d8d8d8;
}

.tb_basic03 tbody th, .tb_basic03 tbody td {
	border-top: 1px solid #d8d8d8;
	color: #979898;
}

.tb_basic03 tbody th:first-child, .tb_basic03 tbody td:first-child {
	border-left: none;
}

.tb_basic03.height tbody td {
	height: 35px;
}

/* Table_white */
.tb_basic_w {
	position: relative;
	border-top: 1px solid #b9bdc0;
	border-bottom: 1px solid #b9bdc0;
	background-color: #fff;
}

.tb_basic_w th, .tb_basic_w td {
	padding: 8px 5px;
	text-align: center !important;
}

.tb_basic_w thead th:first-child {
	border-left: none;
}

.tb_basic_w thead .tb_firstL:first-child, .tb_basic_w tbody .tb_firstL:first-child
	{
	border-left: 1px solid #d8d8d8;
}

.tb_basic_w thead th {
	color: #2c2e2f;
	border-bottom: 1px solid #d8d8d8;
}

.tb_basic_w tbody th, .tb_basic_w tbody td {
	color: #979898;
}

.tb_basic_w tbody th, .tb_basic_w tbody td {
	border-top: 1px solid #d8d8d8;
}

.tb_basic_w tbody th:first-child, .tb_basic_w tbody td:first-child {
	border-left: none;
}

.tb_basic_w thead th, .tb_basic_w tbody td {
	border-left: 1px solid #d8d8d8;
}

.tb_basic_w.height tbody td {
	height: 35px;
}

/* Table_stroped */
.tb_basic_striped {
	position: relative;
	border-top: 1px solid #b9bdc0;
	border-bottom: 1px solid #b9bdc0;
	background-color: #fff;
}

.tb_basic_striped th, .tb_basic_striped td {
	padding: 8px 5px;
	text-align: center !important;
}

.tb_basic_striped thead th:first-child {
	border-left: none;
}

.tb_basic_striped thead .tb_firstL:first-child, .tb_basic_striped tbody .tb_firstL:first-child
	{
	border-left: 1px solid #d8d8d8;
}

.tb_basic_striped thead th {
	color: #2c2e2f;
	border-bottom: 1px solid #d8d8d8;
}

.tb_basic_striped tbody th, .tb_basic_striped tbody td {
	border-top: 1px solid #d8d8d8;
}

.tb_basic_striped tbody tr:nth-child(odd) {
	background-color: #f6f6f6;
}

.tb_basic_striped tbody th:first-child, .tb_basic_striped tbody td:first-child
	{
	border-left: none;
}

.tb_basic_striped.height tbody td {
	height: 35px;
}

/* Table_row_style */
.tb_basic_row {
	position: relative;
	border-top: 1px solid #b9bdc0;
	border-bottom: 1px solid #b9bdc0;
	background-color: #fff;
}

.tb_basic_row th, .tb_basic_row td {
	padding: 8px 5px;
	text-align: center;
}

.tb_basic_row th, .tb_basic_row td {
	border-left: 1px solid #c4c4c4;
	border-top: 1px solid #c4c4c4;
}

.tb_basic_row tbody th:first-child, .tb_basic_row tbody td:first-child {
	border-left: none;
}

.tb_basic_row th {
	background-color: #f4f4f4;
}

.tb_basic_row td {
	text-align: center;
}

/* Table tr:hover, Table border */
.tb_border {
	border: 1px solid #c4c4c4;
}

.tb_hover>tbody>tr:hover {
	background-color: #dfdfdf;
	color: #333;
}