@CHARSET "UTF-8";

	#container {
		position:relative;
		width:100%;
		height:720px;
		overflow:hidden;
		white-space:nowrap;
		border:1px solid #000;
	}
	#container ul#contain {
		list-style:none;
		margin:0;
		padding:0;
	}
	#container ul li {
		position:absolute;
		width:100%;
		height:720px;
	}
	#container ul li img {
		width:100%;
		height:720px;
	}
	
	/* --------------------- /room/room.jsp -------------------------- */
	
	.review_container {
		border : none;
	}
	
	.review_iframelayout {
	}
		
	.review_mid_line {
		border-left: 1px solid #cccccc;
	}
	
	/* --------------------- /room/list.jsp -------------------------- */
	
	.review_page_admin {
		color: #333333;
		font-size: 10pt;
		font-weight:800;
		text-align: center;
		border-top: 1px solid #cccccc;
		border-bottom: 1px solid #cccccc;
		background-color: #eefefe;
	}
	
	.review_page_admin:active, .review_page_admin:focus, .review_page_admin:hover{
		background-color: blue;
		color: #ffffff;
	}
	
	
	.room_form {
		border-radius:10px;
		border: 1px solid #cccccc;
		background-color: #fcfcfc;
	}
	
	.room_miniPhoto {
		border:  1px solid #cccccc;
		background-color: #eeeeee;
	}
	
	.room_mainPhoto {
		border:  1px solid #cccccc;
	}
	
	.room_article {
		border : 1px solid #cccccc;
		background-color: #ffffff;
		border-radius:4px;
		font-family:"Malgun Gothic", "맑은 고딕", NanumGothic, 나눔고딕, 돋움, sans-serif;
		font-size: 9pt;
	}
	
	.roomTitle {
		font-weight:800;
	    font-size: 11pt;
	}
	
	.roomSelect{
	    color: #cccccc;
	    background-color: white;
	    cursor: default;
	}
	
	.roomBold {
		font-weight:800;
	}
	
	.btn_noDeco {
		text-decoration : none; 
	}
	
	.btn_noDeco:focus, .btn_noDeco:hover {
		color: #ffffff; 
	}
	
	/* --------------------- /room/write.jsp -------------------------- */
		
	.room_blank {
		border : 1px solid #cccccc;
	}
	
	.roomContent {
		border: 0px;
	}
	
	/* --------------------- /review/list.jsp -------------------------- */
	
	.review_view {
		border: 0px solid #cccccc;
	}
	
	.review_input {
		border: 0px solid #cccccc;
	}
	
	.review_content {
		border-right: 1px solid #dddddd;
		border-bottom: 1px solid #dddddd;
		border-radius: 5px;
		font-size : 9pt;
		background-color: #3366ff;
		color: #ffffff;
		font-family:"Malgun Gothic", "맑은 고딕", NanumGothic, 나눔고딕, 돋움, sans-serif;
	}
	
	.review_ud {
		font-size : 8pt;
		color: #dddddd;
		text-decoration: none;
	}
	
	.review_bar {
		font-size : 8pt;
		color: #dddddd;
	}
	
	.review_ud:focus, .review_ud:hover{
		background-color: #ffffff;
		color: #333333;
	}
	
	.review_content_info {
		font-size : 6pt;
		color: #999999;
	}
	
	.review_reply {
		border-radius: 5px;
		border-right: 1px solid #dddddd;
		border-bottom: 1px solid #dddddd;
		font-size : 9pt;
		font-family:"Malgun Gothic", "맑은 고딕", NanumGothic, 나눔고딕, 돋움, sans-serif;
		color: #ffffff;
		background-color: #B26768;
		text-align: right;
	}
	
	.review_inputText {
		border-radius:4px;
		font-family:"Malgun Gothic", "맑은 고딕", NanumGothic, 나눔고딕, 돋움, sans-serif;
		border:1px solid #cccccc;
		font-size : 8pt;
		color : #888888;
	}
	
	.review_btn {
	    border:1px solid #cccccc;
	    border-radius:4px;
	    background-color:#ffffff;
	    color:#333333;
	    font-weight:500;
	    font-size: 6pt;
	    font-family:"Malgun Gothic", "맑은 고딕", NanumGothic, 나눔고딕, 돋움, sans-serif;
	    text-align:center;
	    cursor:pointer;
	}
	
	.review_btn:hover, .review_btn:focus {
		background-color : #333333;
		color : #ffffff;
	}
	
	/* --------------------- /room/list.jsp & /review/list.jsp -------------------------- */
	
	.review_page {
		color: #333333;
		font-size: 9pt;
		font-weight:800;
		text-align: center;
		border-top: 1px solid #cccccc;
		border-bottom: 1px solid #cccccc;
		background-color: #eeeeee;
	}
	
	.review_page:active, .review_page:focus, .review_page:hover{
		background-color: #333333;
		color: #ffffff;
	}
	
	.review_page_np {
		color: #333333;
		font-size: 9pt;
		text-align: center;
		background-color: #ffffff;
	}
	
	.review_page_np:active, .review_page_np:focus, .review_page_np:hover{
		background-color: #333333;
		color: #ffffff;
	}
	
	.review_page_none {
		background-color: #ffffff;
	}